#logger.conf
###############################################
[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=default_handler, rotate_file_handler, error_handler

###############################################
[handlers]
keys=default_handler,rotate_file_handler,error_handler

[handler_default_handler]
class=StreamHandler
level=DEBUG
formatter=default_formatter
args=(sys.stdout,)

[handler_error_handler]
class=StreamHandler
level=WARNING
formatter=default_formatter
args=(sys.stderr,)

[handler_rotate_file_handler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=default_formatter
args=('log.log', 'a', 50*1024*1024, 5)

###############################################
[formatters]
keys=default_formatter

[formatter_default_formatter]
format=[%(asctime)s][%(levelname)s] %(message)s
#datefmt=%a, %d %b %Y %H:%M:%S